@charset "UTF-8";

body {
    background-color: rgb(125, 199, 143);
    font-family: Arial, Helvetica, sans-serif;
}

h1#principal {
    text-align: center;
    background-color: rgb(9, 70, 49);
    color: aliceblue;

}
h1 {
    color: rgb(16, 105, 12);
}

h2 {
    color: rgb(5, 71, 16);
}

.basico {
    color: blue;
}

.intermediario {
    color: brown;
}

.avançado {
    color: blueviolet;
}

.destaque {
    background-color: rgba(70, 70, 161, 0.568);
}